@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist/Geist-Regular.ttf") format("ttf");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist/Geist-Bold.ttf") format("ttf");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono/GeistMono-Regular.ttf") format("ttf");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono/GeistMono-Bold.ttf") format("ttf");
  font-weight: 700; /* Bold */
  font-style: normal;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
